*,
::after,
::before {
    box-sizing: box;
}

h1 {
    font-size: 3.5rem;
    font-weight: 100;
    line-height: 1.1;
    padding-top: 50px;
}

.page-link {
    color: #333;
}

.page-link:hover {
    color: #f17e31 !important;
}

.btn-primary {
    background-color: #f17e31;
    color: #fff;
    border-color: #f17e31;
}

.btn-primary:hover {
    background-color: #d37231;
    color: #fff;
    border-color: #d37231;
}

.cari {
    margin-top: 70px;
}


/* footer */

.kilimanjaro_area {
    position: relative;
    z-index: 1;
    background-color: #15151e;
    padding: 30px 0 10px 0;
    margin-top: 30px;
}

.two {
    color: white;
}